@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,700;0,900;1,400&display=swap');

/* Website color palette*/
:root {
    --primary-color: #FFF;
    --secondary-color: #071629;
    --accent-color: #C271FF;
    --accent-color-darker: #a856e6;
}

* {
    margin: 0;
    /*font-family: "Source Sans Pro", sans-serif;*/
    font-family: 'Source Sans 3', sans-serif;
}

body {
    background-color: var(--secondary-color);
}

#header {
    display: flex;
    justify-content: space-between;
    height: 29.461px;
    flex-shrink: 0;
    width: 90%;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2%;
}


#menu {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
}

#menu a {
    color: var(--primary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

}

#home {
    width: 1448.15px;
    /*height: 1055px;*/
    flex-shrink: 0;
}

#banner {
    width: 100%;
    min-height: 1250px;

    background: radial-gradient(ellipse at 30% 18.1%, rgba(41, 48, 61, 0.00) 0%, var(--secondary-color) 68%);
    background-blend-mode: normal, color;
    background-size: cover;
    z-index: 1;
}

#banner::before {
    background: url(./assets/img/main_background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 1250px;
    background-color: transparent;
    filter: grayscale(100%);
    content: "";
    position: absolute;
    flex-shrink: 0;
    z-index: -1;
}


#home {
    color: var(--primary-color);
    z-index: 1;
    top: 15%;
    text-align: center;
    width: 100%;
}

#home h1 {
    color: var(--primary-color);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 13%;
}

#home p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-spacing: 80px;
    text-transform: uppercase;
    padding-bottom: 3%;
}

button {
    border-radius: 22px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    border: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 0.8% 1.5%;
    min-height: 44px;
}

button:hover {
    background-color: var(--accent-color-darker);
}

#description {
    color: var(--primary-color);
    text-align: center;
    bottom: 0;
    width: 100%;
}

#description h2 {
    color: var(--primary-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 30px;
    padding-top: 200px;


}

#description span {
    color: var(--accent-color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#description__pro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#description div {
    justify-content: center;
    gap: 5%;
}

#description__pro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#description__pro h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
}

#description__pro p {
    color: var(--primary-color);
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    max-width: 150px;
}

/*Quotes */

.quote {
    margin-top: 3%;
    background-color: var(--accent-color);
    display: inline-flex;
    width: 100%;
    padding: 3% 0;
    justify-content: center;
    color: var(--primary-color);
    justify-content: space-evenly;
}

.quote img {
    border-radius: 50%;
}

blockquote p {
    color: var(--primary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    /* 152.727% */
    max-width: 730px;
    margin-bottom: 3%;
    max-height: 392px;
}

#author {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    /* 152.727% */
}

#quote__subtitle {
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
    /* 152.727% */
}

@media (max-width: 600px) {
    .quote {
        flex-direction: column;
        align-items: center;
    }
}

/* Video */
#video {
    background-color: var(--primary-color);
    padding: 5% 0;
    justify-content: center;
}

#video h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#video span {
    color: var(--accent-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#video__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.video__1,
.video__2,
.video__3,
.video__4 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    min-width: 255px;
}


.video__1>*:not(img),
.video__2>*:not(img),
.video__3>*:not(img),
.video__4>*:not(img) {
    padding: 2% 5%;
}


.video__1 img,
.video__2 img,
.video__3 img,
.video__4 img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;

}

.video__author {
    margin-top: 3%;
    display: inline-flex;
    width: 100%;
    gap: 15px;
}

.video__author h3 {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 192.857% */
}



.video__1 p,
.video__2 p,
.video__3 p,
.video__4 p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.video__rating {
    margin-top: 3%;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.video__rating svg {
    width: 80%;
}


.video__rating p {
    color: var(--accent-color);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 192.857% */
    padding: 0 5%;
}


.video__author img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/*membership*/

#membership {
    background-color: var(--secondary-color);
    padding: 5% 0;
    min-height: 502px;
    flex-shrink: 0;
    padding: 5%;
    text-align: center;
}

#membership h1 {
    color: var(--primary-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#membership span {
    color: var(--accent-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#membership_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
}

.membership__1,
.membership__2,
.membership__3,
.membership__4 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    min-width: 255px;
    color: var(--primary-color);
    text-align: center;
    max-width: 212px;
    padding: 0 3%;

}

.membership__1 img,
.membership__2 img,
.membership__3 img,
.membership__4 img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;

}

.membership__1 h2,
.membership__2 h2,
.membership__3 h2,
.membership__4 h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
    padding: 5% 0;
}

.membership__1 p,
.membership__2 p,
.membership__3 p,
.membership__4 p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

/* FAQ */

#FAQ {
    background-color: var(--primary-color);
    padding: 5% 0;
}

#FAQ h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 3%;

}

.FAQ__item h2 {
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 3%;
}

.FAQ__item p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5%;
    /* 171.429% */
}



.FAQ_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.FAQ__item {
    text-align: left;
    max-width: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .FAQ__item {
        width: 100%;
    }
}

/* Footer */
footer{
    padding: 1% 0;

}
.footer_content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 4% 0;
}

.footer_column {
    flex: 1;
    margin: 10px;
}

footer p {
    text-align: center;
    color: var(--primary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}